body{
  background-image: url("img2jpg.jpg");
}
footer {
  margin-left: 50px;
  margin-bottom: 20px;
  color:#ffffff 
 }
 h2{
   color:#ffffff;
 }
h3{
  color:#f81080;
  margin-left: 50px
}
ul{
  color:#ffffff;
  margin-left: 100px
}
